@import "./base.css";
@import "./nav.css";
@import "./cursor.css";
@import "./landing.css";

#container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

main {
  width: 100vw;
  overflow-x: hidden;
}

canvas {
  max-height: 100vh;
  max-width: 100vw;
}

main {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100%;
}

.inner__wrap {
  width: 80%;
  margin: 0 auto;
}
